{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <article >
        <h1 >About US</h1>
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate accusantium consectetur hic
            praesentium harum distinctio natus doloribus quod voluptatem architecto ab dignissimos, dicta vel ut necessitatibus libero
            veritatis nostrum magnam.</p>
    </article>

{% endblock %}
