{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <article class="uk-article">
        <h1 class="uk-article-title">About US</h1>
        <p class="uk-article-meta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate accusantium consectetur hic
            praesentium harum distinctio natus doloribus quod voluptatem architecto ab dignissimos, dicta vel ut necessitatibus libero
            veritatis nostrum magnam.</p>
    </article>

{% endblock %}
