{% extends 'base.html.twig' %}
{% block body %}
    <h2>EDITER UN SOUHAIT</h2>
    <div class="wish-detail-container">
        <div class="wish-card-edit">
            {{ form(wish_form) }}
        </div>
    </div>

{% endblock %}