{% extends 'base.html.twig' %}
{% block body %}
    <h1>Editer un souhait</h1>
    <div class="row justify-content-center">
        <div class="col-4">
            {{ form(wish_form) }}
        </div>
    </div>

{% endblock %}