{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <section class="nav-page">
        {% if page > 1 %}
            <a href="{{ path('wish_listpage', {'page' : page - 1}) }}">Page précédente</a>&nbsp;
        {% endif %}
        {% if page < total_pages %}
            <a href="{{ path('wish_listpage', {'page' : page + 1}) }}">Page suivante</a>
        {% endif %}
    </section>
    <div class="page-container">
        <h2 ><span>LISTES DES SOUHAITS</span></h2>

        <div >
            {% for wish in wishes %}
                <div>
                    <div >
                        <h3 >{{ wish.title }}</h3>
                        <a href="{{ path('wish_detailpage', {'id': wish.id}) }}" >
                            Voir le détail
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
